#copyright-container {
    color: #00326F;
    font-size: 0.923em;
    line-height: 18px;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.txt-left {
    text-align: left;
}
#copyright-container a {
    color: #00326F;
    line-height: 20px;
    text-decoration: none;
}
.txt-right {
    text-align: right;
}
#rgp-container {
    line-height: 1.5;
    color: #000;
}
.marginTop-20px {
    margin-top: 20px !important;
}
.marginTop-15px {
    margin-top: 15px !important;
}
#rgp-container b {
    font-size: 1.17em;
    line-height: 1.5;
    color: #013370;
}
#footer b {
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
}
#main #home-container {
    font-size: 1em;
    float: left;
    width: 99%;
    background-color: #fff;
}
#the-hong-kong-jockey-club ol{
    margin-left:24px;
}
