.homeWrapper{
    margin:auto;
    width:972px;
}
.homeWrapper>header .headLogo{
    background-image: url(../images/logo_hkjc.png);
    width: 222px;
    height:65px;
    float: left;
}
.homeWrapper>header .headRight{
    float: right;
    width: 291px;
    height: 91px;
    background-image: url(../images/headerRight.png);
}
.homeWrapper>header .headerBottom{
    background-image: url(../images/headerBanner.png);
    width: 972px;
    height: 130px;
}
.homeWrapper>nav>ul.ulNav{
    background-color: rgba(228, 228, 228, 1);
    text-align: center;
    margin-bottom: 0;
}
.homeWrapper>nav>ul.ulNav>li{
    width: 243px;
    float: left;
    height: 27px;
    line-height: 27px;
    position: relative;
    cursor: pointer;
}
/*.homeWrapper>nav>ul.ulNav>li:hover{
    text-decoration: underline;
}*/
.homeWrapper>nav>ul.ulNav>li>ul.subMenu{
    display: none;
}
.homeWrapper>nav>ul.ulNav>li:hover>ul.subMenu{
    display: block;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 100;
    width: 260px;
    text-align: left;
    padding-left: 10px;
    background: rgba(228, 228, 228, 1);
}
.homeWrapper>nav>ul.ulNav>li>ul.subMenu>li.subMenuItem:hover{
    text-decoration: underline;
}
.homeWrapper>nav>ul.ulNav>li:nth-child(1),.homeWrapper>nav>ul.ulNav>li:nth-child(2),.homeWrapper>nav>ul.ulNav>li:nth-child(3){
    border-right:solid 1px white;
}

