.wrapper{
    margin:auto;
}
header .headLogo{
    background: url(../images/logo_hkjc.png) no-repeat 0px 15px;
    width: 222px;
    height:91px;
    float: left;
}
header .headLogo>a{
    width:100%;
    height:100%;
    display: block;
}
header .headRight{
    float: right;
    width: 291px;
    height: 91px;
    background-image: url(../images/headerRight.png);
}
header .headerBottom{
    background-image: url(../images/headerBanner.jpg);
    height: 130px;
}
nav>ul.ulNav{
    background-color: rgba(228, 228, 228, 1);
    margin-bottom:0;
}
nav>ul.ulNav>li{
    width:25%;
    float: left;
    text-align: center;
    background-image: url(../images/nav-bg.jpg);
    background-repeat: repeat-x;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    line-height: 27px;
    position: relative;
    z-index: 2;
}
nav>ul.ulNav>li:hover{
    background-color: #fff;
    background-image: none;
    color: #022169;
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid #022169;
    border-bottom: 1px solid #022169;
    height: 27px;
}
nav>ul.ulNav>li>a{
    display: block;
    color: inherit;
}
nav>ul.ulNav>li>a:hover{
    color: #022169;
}
nav>ul.ulNav>li:nth-child(1),nav>ul.ulNav>li:nth-child(2),nav>ul.ulNav>li:nth-child(3){
    border-right:solid 1px white;
}
nav>ul.ulNav>li>ul.subMenu{
    display: none;
}
nav>ul.ulNav>li:hover>ul.subMenu{
    display: block;

    width:100%;
}
nav>ul.ulNav>li>ul.subMenu>li.subMenuItem{
     font-weight: normal;
     color: #000;
     border-bottom: 1px dotted #ccc;
 }
nav>ul.ulNav>li>ul.subMenu>li.subMenuItem>a:hover{
    background-image: url(../images/nav-bg.jpg);
    background-repeat: repeat-x;
    color: white;
}
nav>ul.ulNav>li>ul.subMenu>li.subMenuItem>a{
    display: inline-block;
    color: #022169;
    font-weight: bold;
    background-color: #FFF;
    width:100%;
}

.nav-arrow {
    background: url(../images/nav_arrow.gif) no-repeat 100% 0;
    background-position: right center;
}