body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u655 {
  position:absolute;
  left:212px;
  top:26px;
  width:75px;
  height:75px;
}
#u656 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:297px;
  top:49px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u659 {
  position:absolute;
  left:299px;
  top:81px;
  width:85px;
  height:15px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:211px;
  top:237px;
  width:243px;
  height:27px;
}
#u662 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:455px;
  top:237px;
  width:243px;
  height:27px;
}
#u664 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:699px;
  top:237px;
  width:243px;
  height:27px;
}
#u666 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:943px;
  top:237px;
  width:240px;
  height:27px;
}
#u668 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:212px;
  top:264px;
  width:172px;
  height:34px;
}
#u670 {
  position:absolute;
  left:2px;
  top:9px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#003366;
}
#u671 {
  position:absolute;
  left:221px;
  top:273px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#003366;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:457px;
}
#u673 {
  position:absolute;
  left:215px;
  top:294px;
  width:170px;
  height:457px;
}
#u674 {
  position:absolute;
  left:2px;
  top:220px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:381px;
}
#u675 {
  position:absolute;
  left:205px;
  top:337px;
  width:176px;
  height:381px;
}
#u676 {
  position:absolute;
  left:2px;
  top:182px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:191px;
  top:592px;
  width:188px;
  height:83px;
}
#u678 {
  position:absolute;
  left:2px;
  top:34px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:130px;
}
#u679 {
  position:absolute;
  left:212px;
  top:106px;
  width:972px;
  height:130px;
}
#u680 {
  position:absolute;
  left:2px;
  top:57px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:91px;
}
#u681 {
  position:absolute;
  left:892px;
  top:16px;
  width:291px;
  height:91px;
}
#u682 {
  position:absolute;
  left:2px;
  top:38px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:97px;
}
#u683 {
  position:absolute;
  left:876px;
  top:139px;
  width:307px;
  height:97px;
}
#u684 {
  position:absolute;
  left:2px;
  top:40px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:860px;
  top:-10px;
  width:60px;
  height:109px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u686 {
  position:absolute;
  left:2px;
  top:46px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
