body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1313 {
  position:absolute;
  left:212px;
  top:26px;
  width:75px;
  height:75px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1315 {
  position:absolute;
  left:297px;
  top:49px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u1317 {
  position:absolute;
  left:299px;
  top:81px;
  width:85px;
  height:15px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  position:absolute;
  left:211px;
  top:237px;
  width:243px;
  height:27px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:455px;
  top:237px;
  width:243px;
  height:27px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:699px;
  top:237px;
  width:243px;
  height:27px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:943px;
  top:237px;
  width:240px;
  height:27px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:130px;
}
#u1327 {
  position:absolute;
  left:212px;
  top:106px;
  width:972px;
  height:130px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:57px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:91px;
}
#u1329 {
  position:absolute;
  left:892px;
  top:16px;
  width:291px;
  height:91px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:38px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:97px;
}
#u1331 {
  position:absolute;
  left:876px;
  top:139px;
  width:307px;
  height:97px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:40px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:197px;
}
#u1333 {
  position:absolute;
  left:211px;
  top:293px;
  width:163px;
  height:197px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:90px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#003366;
}
#u1335 {
  position:absolute;
  left:216px;
  top:273px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#003366;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:860px;
  top:-10px;
  width:60px;
  height:109px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u1338 {
  position:absolute;
  left:2px;
  top:46px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
