body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u0 {
  position:absolute;
  left:212px;
  top:26px;
  width:75px;
  height:75px;
}
#u1 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:297px;
  top:49px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u4 {
  position:absolute;
  left:299px;
  top:81px;
  width:85px;
  height:15px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:211px;
  top:237px;
  width:243px;
  height:27px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:455px;
  top:237px;
  width:243px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:699px;
  top:237px;
  width:243px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:943px;
  top:237px;
  width:240px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:328px;
}
#u14 {
  position:absolute;
  left:211px;
  top:264px;
  width:972px;
  height:328px;
}
#u15 {
  position:absolute;
  left:2px;
  top:156px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:94px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:211px;
  top:592px;
  width:972px;
  height:94px;
}
#u17 {
  position:absolute;
  left:2px;
  top:39px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:55px;
}
#u18 {
  position:absolute;
  left:232px;
  top:679px;
  width:927px;
  height:55px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:240px;
}
#u20 {
  position:absolute;
  left:211px;
  top:744px;
  width:972px;
  height:240px;
}
#u21 {
  position:absolute;
  left:2px;
  top:112px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#003399;
}
#u22 {
  position:absolute;
  left:232px;
  top:1042px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#003399;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:66px;
}
#u24 {
  position:absolute;
  left:232px;
  top:1068px;
  width:455px;
  height:66px;
}
#u25 {
  position:absolute;
  left:2px;
  top:25px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:56px;
}
#u26 {
  position:absolute;
  left:1091px;
  top:1095px;
  width:79px;
  height:56px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u28 {
  position:absolute;
  left:920px;
  top:1163px;
  width:250px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:22px;
}
#u30 {
  position:absolute;
  left:232px;
  top:1163px;
  width:567px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:130px;
}
#u32 {
  position:absolute;
  left:212px;
  top:106px;
  width:972px;
  height:130px;
}
#u33 {
  position:absolute;
  left:2px;
  top:57px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:91px;
}
#u34 {
  position:absolute;
  left:892px;
  top:16px;
  width:291px;
  height:91px;
}
#u35 {
  position:absolute;
  left:2px;
  top:38px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:97px;
}
#u36 {
  position:absolute;
  left:876px;
  top:139px;
  width:307px;
  height:97px;
}
#u37 {
  position:absolute;
  left:2px;
  top:40px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:860px;
  top:-10px;
  width:60px;
  height:109px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u39 {
  position:absolute;
  left:2px;
  top:46px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
