body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1339 {
  position:absolute;
  left:212px;
  top:26px;
  width:75px;
  height:75px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:297px;
  top:49px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u1343 {
  position:absolute;
  left:299px;
  top:81px;
  width:85px;
  height:15px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  position:absolute;
  left:211px;
  top:237px;
  width:243px;
  height:27px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347 {
  position:absolute;
  left:455px;
  top:237px;
  width:243px;
  height:27px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  position:absolute;
  left:699px;
  top:237px;
  width:243px;
  height:27px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  position:absolute;
  left:943px;
  top:237px;
  width:240px;
  height:27px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:130px;
}
#u1353 {
  position:absolute;
  left:212px;
  top:106px;
  width:972px;
  height:130px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:57px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:91px;
}
#u1355 {
  position:absolute;
  left:892px;
  top:16px;
  width:291px;
  height:91px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:38px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:97px;
}
#u1357 {
  position:absolute;
  left:876px;
  top:139px;
  width:307px;
  height:97px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:40px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:197px;
}
#u1359 {
  position:absolute;
  left:211px;
  top:293px;
  width:163px;
  height:197px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:90px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#003366;
}
#u1361 {
  position:absolute;
  left:216px;
  top:273px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#003366;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:860px;
  top:-10px;
  width:60px;
  height:109px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u1364 {
  position:absolute;
  left:2px;
  top:46px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
